* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: EAEAEA;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 5px 10%;
    margin-bottom: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
}

section {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sections-text-content {
    width: 500px;
    align-items: center;
    justify-content: center;
    padding: 15px 15px;
    margin: 5px;
    flex-wrap: wrap;
    border-radius: 10px;
}

.sections-text-content p {
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
    font-family: "Vazirmatn", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

#mision .sections-text-content {
    display: flex;
    width: 500px;
    height: 700px;
    background: none;
}

#mision .sections-text-content p {
    display: flex;
    font-family: "Vazirmatn", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 40px;
    text-align: left;
}

#mision .vida-saludable .imagen-vida-saludable {
    height: 700px;
    margin-right: 100px;
}

#servicios {
    align-items: center;
    justify-content: center;
}


#servicios .sections-text-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

#servicios .sections-text-content .parrafos p {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: left;
}

#servicios .sections-text-content .parrafos h2 {
    text-align: center;
    margin-top: 0;
    font-size: 50px;
    margin-bottom: 30px;
}

#servicios .sections-text-content .parrafos h3 {
    display: inline;
    text-align: left;
    margin-left: 15px;
    border-bottom: 1px solid;
    border-color: blueviolet;
}

#servicios .sections-text-content .parrafos {
    border-radius: 4px;
    height: 450px;
    width: 40%;
    margin-right: 100px;
}

#servicios img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 700px;
    border-radius: 10px 10px;
    margin-left: 50px;
}

.header .nav-links li a {
    text-align: center;
    font-size: 25px;
}

.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 50px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 20px
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 800;
    font-style: bold;
    color: black;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: green;

}

.header .btn button {
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: rgb(216, 216, 216);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: #e2f1f8;
    color: green;
    transform: scale(1.1);
}

#propuesta {
    display: flex;
    height: 100vh;
    width: auto;
}

#propuesta .sections-text-content {
    display: flex;
}

#propuesta .negrito {
    display: flex;
    border: 1px solid;
    background-color: navajowhite;
    width: 500px;
    height: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
}


#contacto {
    display: flex;
    height: 100vh;
    width: auto;
    align-items: center;
    justify-content: center;
}


#contact_form {
    display: flex;
    flex-direction: column;
    /* Organiza los campos del formulario en una columna */
    align-items: center;
    /* Centra los campos del formulario horizontalmente */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Opcional: Añade una sombra para resaltar el formulario */
    width: 100%;
    /* Usa el 100% del ancho del contenedor padre */
    max-width: 400px;
    /* Limita el ancho máximo para evitar que el formulario sea demasiado ancho */
    margin: auto;
}

footer {
    margin-top: 30px;
    background-color: #235b48;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a img {
    width: 50px;
    margin-right: 10px;
}

.socialIcons a:nth-child(2) img {
    width: 70px;
}

/* Hover affect on social media icon */
.socialIcons a img:hover {
    transform: scale(1.10, 1.10);
}


.footerNav {

    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: #DBF9F4;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}

#encontranos {
    border-top: 0.1px solid;
}

.footerNav ul li a:hover {
    opacity: 1;
    color: black;
}

.footerBottom {
    background-color: #065143;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 800px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .socialIcons a {
        padding: 8px;
        margin: 4px;
    }

    .header {
        display: flex;
        padding: 0;
        margin: 0;
    }

    .header .nav-links li a {
        font-size: 15px;
    }


    .header .btn button {
        margin: 10px;
        padding: 10px;
    }

}