* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: EAEAEA;
}


#contact_form {
    display: flex;
    flex-direction: column;
    /* Organiza los campos del formulario en una columna */
    align-items: center;
    /* Centra los campos del formulario horizontalmente */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Opcional: Añade una sombra para resaltar el formulario */
    width: 100%;
    /* Usa el 100% del ancho del contenedor padre */
    max-width: 400px;
    /* Limita el ancho máximo para evitar que el formulario sea demasiado ancho */
    margin: auto;
}

footer {
    margin-top: 30px;
    background-color: #235b48;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a img {
    width: 50px;
    margin-right: 10px;
}

.socialIcons a:nth-child(2) img {
    width: 70px;
}

/* Hover affect on social media icon */
.socialIcons a img:hover {
    transform: scale(1.10, 1.10);
}


.footerNav {

    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: #DBF9F4;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}

#encontranos {
    border-top: 0.1px solid;
}

.footerNav ul li a:hover {
    opacity: 1;
    color: black;
}

.footerBottom {
    background-color: #065143;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 600px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .socialIcons a {
        padding: 8px;
        margin: 4px;
    }
}