* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    background-color: #fefefe;
}

body {
    font-family: sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;

}

.logo img {
    height: 100px;
    margin-right: 10px;
    margin-left: 50px;

}

.logo-nombre {
    flex-grow: 1;
    margin: 0;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    margin-right: 180px;
    padding: 0;
    flex-wrap: wrap;
}

nav ul li {
    padding: 10px;
    font-size: 20px;
}

a {
    color: black;

}

nav ul li a:hover {
    border-bottom: 1.6px solid rebeccapurple;
    color: rebeccapurple;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 5);
}


section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* Alinea el contenido verticalmente */
    justify-content: center;
    padding: 20px;
}

.servicios-text-content {
    width: 50%;
    /* El texto ocupa el 50% del ancho del contenedor */
    padding: 0 20px;
    /* Añade espacio alrededor del texto */
    align-items: center;
}

#contact_form {
    display: flex;
    flex-direction: column;
    /* Organiza los campos del formulario en una columna */
    align-items: center;
    /* Centra los campos del formulario horizontalmente */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Opcional: Añade una sombra para resaltar el formulario */
    width: 100%;
    /* Usa el 100% del ancho del contenedor padre */
    max-width: 400px;
    /* Limita el ancho máximo para evitar que el formulario sea demasiado ancho */
    margin: auto;
}

section img {
    width: 400px;
}


h2 {
    text-align: center;
    margin: 20px;
}